header {
  display: flex;
}
body {
  margin: 0;
}

.byc {
  width: 740px;
  height: 506px;
}

.park {
  color: #34404e;
  font-family: Akrobat;
  font-size: 106px;
  font-weight: 900;
  line-height: 102px;
  display: inline;
  margin: 0;
  position: relative;
  top: 113px;
}

nav {
  display: inline-flex;
  height: 24px;
  position: relative;
  right: 390px;
  top: 50px;
}

.apr {
  width: 119px;
  height: 24px;
  color: #363c44;
  font-family: "Proba Pro";
  font-size: 20px;
  font-weight: 400;
}

.buy {
  width: 94px;
  height: 24px;
  color: #363c44;
  font-family: "Proba Pro";
  font-size: 20px;
  font-weight: 400;
  padding-left: 52px;
}
.imag img{
  position: absolute;
  top: 698px;
}
.imag h3 {
  font-family: Akrobat;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  display: inline;
  position: absolute;
  top: 808px;
}
.imag p {
  font-family: Akrobat;
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
  position: absolute;
}
footer h5 {
  display: inline;
  position: relative;
  font-family: Akrobat;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
}
footer span {
  color: #34404e;
  font-family: Akrobat;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  position: relative;
}
a {
  color: #381ae6;
}
.hs1 {
  left: 218px;
  color: #a299d2;
}
.hs2 {
  left: 477px;
  color: #a299d2;
}
.hs3 {
  left: 734px;
  color: #a299d2;
}
.hs4 {
  left: 990px;
  color: #342acd;
}
.sq1 {
  left: 218px;
}
.sq2 {
  left: 477px;
}
.sq3 {
  left: 734px;
}
.sq4 {
  left: 990px;
}
.kg {
  color: #363c44;
  left: 218px;
  top: 847px;
}
.mat {
  color: #363c44;
  left: 477px;
  top: 847px;
}
.ficha {
  left: 734px;
  top: 847px;
  color: #363c44;
}
.cost {
  left: 990px;
  top: 847px;
  color: #342acd;
}
.vel {
  color: #363c44;
  font-family: Akrobat;
  font-size: 50px;
  font-weight: 700;
  line-height: 53px;
  position: absolute;
  left: 217px;
  top: 1161px;
}
.text {
  color: #363c44;
  font-family: "Proba Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  top: 1293px;
  left: 220px;
}
.bpark {
  border-radius: 11px;
  width: 486px;
  height: 486px;
  border: 1px solid #dde5ee;
  position: absolute;
  top: 1112px;
  left: 734px;
}
.vitalya {
  color: #363c44;
  font-family: Akrobat;
  font-size: 50px;
  font-weight: 700;
  line-height: 44px;
  position: absolute;
  top: 1776px;
  left: 225px;
}
.titleend {
  color: #34404e;
  font-family: Akrobat;
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  position: absolute;
  top: 1830px;
  left: 301px;
  text-align: center;
}
.sptext {
  color: #363c44;
  font-family: "Proba Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  top: 1987px;
  left: 392px;
}
.avt {
  width: 41px;
  height: 30px;
  color: #34404e;
  font-family: Akrobat;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  position: relative;
  top: 62px;
  left: 52px;
}
.vth {
  top: 95px;
  left: 4px;
}
.des {
  top: 65px;
  left: 204px;
}
.vsh {
  top: 95px;
  left: 145px;
}
.face {
  top: 65px;
  left: 266px;
}
.dvp {
  top:95px;
  left: 199px;
}
footer {
  background-color: #f8f8f8;
  height: 201px;
  width: 100%;
  position: relative;
  top: 1740px;
}
.copy {
  opacity: 0.4;
  color: #363c44;
  font-family: "Proba Pro";
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 100px;
  left: 1050px;
}
@media screen and (max-width: 1125px) {
  .byc {
    width: 590px;
    height: 386px;
  }
  .park {
    font-size: 86px;
    line-height: 82px;
    top: 103px;
  }
  nav {
    right: 320px;
  }
  .sq1, .hs1, .kg {
    left: 68px;
  }
  .sq2, .hs2, .mat {
    left: 307px;
  }
  .sq3, .hs3, .ficha {
    left: 564px;
  }
  .sq4, .hs4, .cost {
    left: 820px;
  }
  .vel {
    left: 67px;
  }
  .text {
    left: 70px;
  }
  .bpark {
    left: 534px;
    width: 426px;
    height: 426px;
  }
  .vitalya {
    top: 1576px;
    left:137px;
    width: 950px;
    font-size: 40px;
    line-height: 44px;
  }
  .titleend {
    font-size: 40px;
    top: 1620px;
    left: 210px;
  }
  .sptext {
    top: 1787px;
    left:252px;
  }
  .copy {
    top: 150px;
    left: 51px;
  }
  .dvp {
    left: 178px;
  }
  .face {
    left: 245px;
  }
  .vsh {
    left: 95px;
  }
  .des {
    left: 154px;
  }
}
@media screen and (max-width: 977px) {
  .sq1, .hs1, .kg {
    left: 38px;
  }
  .sq2, .hs2, .mat {
    left: 277px;
  }
  .sq3, .hs3, .ficha {
    left: 534px;
  }
  .sq4, .hs4, .cost {
    left: 790px;
  }
  .vel {
    left: 37px;
  }
  .text {
    left: 40px;
  }
  .bpark {
    left: 504px;
    width: 426px;
    height: 426px;
  }
  .vitalya {
    top: 1576px;
    left:107px;
    width: 750px;
    font-size: 40px;
    line-height: 44px;
  }
  .titleend {
    font-size: 40px;
    top: 1620px;
    left: 180px;
  }
  .sptext {
    top: 1787px;
    left:222px;
  }
  .dvp {
    left: 148px;
  }
  .face {
    left: 215px;
  }
  .vsh {
    left: 65px;
  }
  .des {
    left: 124px;
  }
}
@media screen and (max-width: 950px) {
  .sq1, .hs1, .kg {
    left: 18px;
  }
  .sq2, .hs2, .mat {
    left: 257px;
  }
  .sq3, .hs3, .ficha {
    left: 514px;
  }
  .sq4, .hs4, .cost {
    left: 770px;
  }
  .vel {
    left: 17px;
  }
  .text {
    left: 20px;
  }
  .bpark {
    left: 454px;
    width: 426px;
    height: 426px;
  }
  .vitalya {
    top: 1576px;
    left:87px;
    width: 750px;
    font-size: 40px;
    line-height: 44px;
  }
  .titleend {
    font-size: 40px;
    top: 1620px;
    left: 160px;
  }
  .sptext {
    top: 1787px;
    left:202px;
  }
  .dvp {
    left: 118px;
  }
  .face {
    left: 185px;
  }
  .vsh {
    left: 40px;
  }
  .des {
    left: 100px;
  }
  .vth {
    top: 95px;
    left: -40px;
  }
  .avt {
    left: 10px;
  }
  .copy {
    left: 9px;
  }
  .park {
    top: 413px;
    right: 550px;
    height: 100px;
    width: 1000px;
  }
}
@font-face {
  font-family: Akrobat;
  src: url(fonts/Akrobat-Black.otf);
}

@font-face {
  font-family: Proba Pro;
  src: url(fonts/probapro-regular.otf);
}
