header {
  display: flex;
}
body {
  margin: 0;
}

.byc {
  width: 740px;
  height: 506px;
}

.park {
  color: #34404e;
  font-family: Akrobat;
  font-size: 106px;
  font-weight: 900;
  line-height: 102px;
  display: inline-flex;
  margin: 0;
  position: relative;
  top: 113px;
}

nav {
  display: inline-flex;
  height: 24px;
  position: relative;
  right: 390px;
  top: 50px;
}

.apr {
  width: 119px;
  height: 24px;
  color: #363c44;
  font-family: "Proba Pro";
  font-size: 20px;
  font-weight: 400;
}

.buy {
  width: 94px;
  height: 24px;
  color: #363c44;
  font-family: "Proba Pro";
  font-size: 20px;
  font-weight: 400;
  padding-left: 52px;
}
.imag img{
  position: absolute;
  top: 698px;
}
.imag h3 {
  font-family: Akrobat;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  display: inline;
  position: absolute;
  top: 808px;
}
.imag p {
  font-family: Akrobat;
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
  position: absolute;
}
footer h5 {
  display: inline;
  position: relative;
  font-family: Akrobat;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
}
footer span {
  color: #34404e;
  font-family: Akrobat;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  position: relative;
}
a {
  color: #381ae6;
}
.hs1 {
  left: 218px;
  color: #a299d2;
}
.hs2 {
  left: 477px;
  color: #a299d2;
}
.hs3 {
  left: 734px;
  color: #a299d2;
}
.hs4 {
  left: 990px;
  color: #342acd;
}
.sq1 {
  left: 218px;
}
.sq2 {
  left: 477px;
}
.sq3 {
  left: 734px;
}
.sq4 {
  left: 990px;
}
.kg {
  color: #363c44;
  left: 218px;
  top: 847px;
}
.mat {
  color: #363c44;
  left: 477px;
  top: 847px;
}
.ficha {
  left: 734px;
  top: 847px;
  color: #363c44;
}
.cost {
  left: 990px;
  top: 847px;
  color: #342acd;
}
.vel {
  color: #363c44;
  font-family: Akrobat;
  font-size: 50px;
  font-weight: 700;
  line-height: 53px;
  position: absolute;
  left: 217px;
  top: 1161px;
}
.text {
  color: #363c44;
  font-family: "Proba Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  top: 1293px;
  left: 220px;
}
.bpark {
  border-radius: 11px;
  width: 486px;
  height: 486px;
  border: 1px solid #dde5ee;
  position: absolute;
  top: 1112px;
  left: 734px;
}
.vitalya {
  color: #363c44;
  font-family: Akrobat;
  font-size: 50px;
  font-weight: 700;
  line-height: 44px;
  position: absolute;
  top: 1776px;
  left: 225px;
}
.titleend {
  color: #34404e;
  font-family: Akrobat;
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  position: absolute;
  top: 1830px;
  left: 301px;
  text-align: center;
}
.sptext {
  color: #363c44;
  font-family: "Proba Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  top: 1987px;
  left: 392px;
}
.avt {
  width: 41px;
  height: 30px;
  color: #34404e;
  font-family: Akrobat;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  position: relative;
  top: 62px;
  left: 52px;
}
.vth {
  top: 95px;
  left: 4px;
}
.des {
  top: 65px;
  left: 204px;
}
.vsh {
  top: 95px;
  left: 145px;
}
.face {
  top: 65px;
  left: 266px;
}
.dvp {
  top:95px;
  left: 199px;
}
footer {
  background-color: #f8f8f8;
  height: 201px;
  width: 100%;
  position: relative;
  top: 1740px;
}
.copy {
  opacity: 0.4;
  color: #363c44;
  font-family: "Proba Pro";
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 100px;
  left: 1050px;
}
@media screen and (max-width: 1024px) {
  .byc {
    width: 680px;
    height: 466px;
  }
  .park {
    font-size: 86px;
    font-weight: 880;
    line-height: 82px;
    top: 153px;
  }
  nav {
    display: inline-flex;
    height: 24px;
    position: relative;
    right: 317px;
    top: 50px;
  }
  .sq1, .hs1, .kg{
    left: 68px;
  }
  .sq2, .hs2, .mat {
    left: 327px;
  }
  .sq3, .hs3, .ficha {
    left: 584px;
  }
  .sq4, .hs4, .cost {
    left: 840px;
  }
  .vel, .text {
    left: 67px;
  }
  .bpark {
    left: 564px;
    width: 426px;
    height: 426px;
  }
  .vitalya {
    top: 1626px;
    left: 47px;
  }
  .titleend {
    top: 1680px;
    left: 131px;
  }
  .sptext {
    top: 1847px;
    left: 222px;
  }
  .vsh {
    left: 64px;
  }
  .des {
    left: 124px;
  }
  .dvp {
    left: 100px;
  }
  .face {
    left: 168px;
  }
  .copy {
    top: 143px;
    left: 50px;
  }
}
@media screen and (max-width: 768px) {
  .sq1, .hs1, .kg{
    left: 88px;
  }
  .sq2, .hs2, .mat {
    left: 347px;
  }
  .sq3, .hs3, .ficha {
    left: 604px;
  }
  .sq4, .hs4, {
    left: 860px;
  }
  .cost {
    left: 835px;
    width: 200px;
  }
  .vitalya {
    top: 1556px;
    left: 50px;
    width: 1000px;
  }
  .titleend {
    width: 850px;
    left: 95px;
    top: 1610px;
  }
  .sptext {
    width: 600px;
    left: 270px;
    top: 1780px;
  }
}
@font-face {
  font-family: Akrobat;
  src: url(fonts/Akrobat-Black.otf);
}

@font-face {
  font-family: Proba Pro;
  src: url(fonts/probapro-regular.otf);
}
